# Dependencies
node_modules/

# Environment variables
/Code/.env.development
/Code/.env.production
/Code/node_modules

# Config Files (Critical)
/Code/src/config/*.json
# /Code/src/config/*-firebase-adminsdk-*.json

Issues.md

Aggregation_Pipeline.png